<ion-header>
    <ion-navbar>
      <ion-title>
        Importar paciente
      </ion-title>
      <ion-buttons end>
          <button ion-button (click)="dismiss()"> Fechar </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


  <ion-content class="bg-sem-branco">
 
    <ion-row>
      <ion-item>
        <ion-label color="primary" stacked> RG Paciente : </ion-label>
        <ion-input type="text" [(ngModel)]="RG" [brmasker]="{mask:'00.000.000-5', len:12, type:'num'}"> </ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
        <ion-col col-12>
          <button ion-button class="btn-default"> Solicitar permissão </button>
        </ion-col>
    </ion-row>

    <ion-row>
      <div id="textImport">
          Digite o codigo enviado ao numero final xxxx-1234 ou email xxxxx@xxx.com.br
      </div>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label color="primary" stacked> Insira o código </ion-label>
        <ion-input type="text"> </ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button ion-button class="a1c-button" (click)='importMedicalResults()'> Importar </button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12>
            <button ion-button class="a1c-button"> Cancelar </button>
          </ion-col>
    </ion-row>
  </ion-content>