


  <ion-content class="default-bg bg-darken" >
    <div style="margin-top: 30%;">
        <ion-item>
            <ion-label stacked> Frase padrão 1</ion-label>
            <ion-textarea 
              [(ngModel)]=text2
              rows="5">
            </ion-textarea>
          </ion-item>
      
          <ion-item>
            <ion-label stacked> Frase padrão 2 </ion-label>
            <ion-textarea 
              [(ngModel)]=text3
              rows="5">
            </ion-textarea>
          </ion-item>
      
    </div>
    
  </ion-content>