

#buttonsHome button {
  height:80px!important;
  margin-top: 2rem !important;
}


#titleVideo {
  color: #fff !important;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.rangeBlock {
  width: 7rem !important;
  height: 5.8rem !important;
}

.red {
  background-color: red !important;
  border-color: black !important;
}

.green {
  background-color: green !important;
  border-color: black !important;
}

.yellow {
  background-color: yellow !important;
  border-color: black !important;
}

.rangeGraph {
  border: 1rem !important;
  border-color: black !important;
}

.ac1now-device{
  background-image: url(../assets/imgs/A1CNOW.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 40%;
  position: relative;
  left: 50%;
  margin-left: -20%;
  background-position: center;
}

.ac1now-device .label{
  font-family: 'digital-7';
  font-size: 1.5em;
  position: relative;
  top: 15%;
  margin: 0 auto;
  color: #000;
}
.slide-zoom{
  height: 100%;
  padding-top: 30%;
}