

#buttonsHome button {
  height:80px!important;
  margin-top: 2rem !important;
}


#titleVideo {
  color: #fff !important;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.rangeBlock {
  margin-left: 30px;
}

.red {
  background-color: red !important;
  border-color: black !important;
  height:37.5%;
}

.green {
  background-color: green !important;
  border-color: black !important;
  height: 42.5%;
}

.yellow {
  background-color: yellow !important;
  border-color: black !important;
  height: 20.00%;
}

.rangeGraph {
  border: 1rem !important;
  border-color: black !important;
  height: 130px;
}

.legenda-item {
  text-align: left;
  font-size: 14px;
  font-weight: 100;

}
.legenda-item span{
  margin-right: 5px;
  display: inline-block;
  width: 20px;
  height: 13px;
}

.min{
  position: absolute;
  bottom: 0px;
  /* right: -50px; */
  left: -5px;
  font-size: 13px;
}

.max{
  position: relative;
  font-size: 12px;
  left: -40px;
  top: -5px;
  text-align: left;
}

.pointer{
  position: absolute;
  left: 100%;
  width: 145%;
  text-align: left;
  font-size: 20px;
  top : -1%;
}

.pointer span {
  display: inline-flex;
}
.pointer div{
  font-size: 14px;
  font-weight: 100;
  padding-left: 13px;
}

.ac1now-device{
  background-image: url(../assets/imgs/A1CNOW.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 40%;
  max-height: 400px;
  position: relative;
  left: 50%;
  margin-left: -20%;
  background-position: top;
}

.ac1now-device .label{
  font-family: 'digital-7';
  font-size: 28px;
  position: relative;
  top: 14%;
  margin: 0 auto;
  color: #000;
  text-align: center;
}
.slide-zoom{
  height: 100%;
  padding-top: 17%;
}

@media(max-height:483px){
  .ac1now-device .label{
    font-size: 22px !important;
  }  
}
@media(max-height:400px){
  .ac1now-device .label{
    font-size: 18px !important;
  }  
}

@media(max-height:328px){
  .ac1now-device .label{
    font-size: 15px !important;
  }  
}

@media(max-height:280px){
  .ac1now-device .label{
    display: none !important;
  }  
}


.opaque-box{
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    padding-top: 10px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.opaque-box h3{
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
}

.opaque-box p{
  margin: 0;
  font-size: 15px;
  font-weight: 100;
  padding-bottom: 4px;
}
.opaque-box p span{
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  width: 26%;
  text-transform: uppercase;
}