.btn-default {
  margin-top : 10px !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  border-color: #32db64!important;
   
}
.img-logo{
    display: block;
    margin: 60px auto;
    width: 50%;
    max-width:300px;
    max-height: 282px;
    height: auto;
}

#buttonsHome button {
  height:80px!important;
  margin-top: 2rem !important;
}


#buttonsHome  {
  font-size: 80px !important;
}

#buttonsHome .icon {
  margin-left: 5rem !important;
}

HomePage {
  font-size: 100px !important;
}
