$loading-md-box-shadow: none !important;   
$refresher-text-color : #fff !important;    
$refresher-icon-color : #fff !important;
ion-content, ion-grid{
    background-color: #9190ce !important;
    ion-label {
        color: white!important;
    }
    ion-item, ion-grid{
        padding-left: 16px!important;
        padding-right: 16px!important;
        box-shadow: none!important;
        background-color:transparent!important;
        border:none!important;
        color:#fff!important;
    }
    
}

@font-face {
    font-family: 'digital-7';
    src: url('../assets/fonts/digital-7.ttf');
    font-style: normal;
}

.toolbar-background{
    background-color: #a13c3e !important;
    color:#fff!important;
}
.toolbar-title-md,.bar-button-default-md{
    color:#fff!important;
}
.btn-default{
    background-color: #9190ce!important;
    display: block;
    width:88%;
    height:40px!important;
    margin:0 auto!important;
}


ion-icon {
    font-size: 20px !important; 
}

.default-bg{
    background-image: url('../assets/imgs/bg.png');
    background-repeat: no-repeat;
    background-size:cover;
}

.default-bg.bg-darken{
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.4) !important;
}

.a1c-button{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-color: #fff;
    border-radius: 5px;
}

/** Correção do BUG do ion-slide **/
.scroll-content{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
