
<ion-content class="default-bg">
    <ion-slides paginationClickable=false
                zoom=true
                pager=true
                parallax=true
                #mySlider>

      <ion-slide *ngFor="let item of videos; let i = index">
          <div id="titleVideo">  Instruções - Passo {{ (i+1) }} </div>
          <video  [autoplay]="true" preload="metadata" webkit-playsinline="webkit-playsinline"  style="width: 100%;" (ended)="endedVideo(i)"
            [(src)]="item.videoUri">      
          </video>

        
    <div id="buttonsTutorial">
        <ion-row>
          <ion-col col-6>
            <button ion-button item-end icon-start class="a1c-button" (click)='slidePrev(i)'> 
                <ion-icon name="arrow-back"></ion-icon>Voltar 
            </button>
          </ion-col>

          <ion-col col-6>
            <button ion-button icon-end class="a1c-button" (click)= 'slideNext(i)'>               
              {{ i == 2 ? 'Finalizar' : 'Próximo'}} 
              <ion-icon name="arrow-forward" *ngIf="i != 2"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
      </ion-slide>
    </ion-slides>
</ion-content>


