<ion-header>
    <ion-navbar>
      <ion-title>
        Opções de filtro
      </ion-title>
      <ion-buttons end>
          <button ion-button (click)="dismiss()"> Fechar </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


  <ion-content>
 
    <ion-item>
      <ion-label color="primary" stacked> Filtrar por : </ion-label>
      <ion-select>
          <ion-option> </ion-option>
        </ion-select>
    </ion-item>
    <ion-col>
        <ion-input type="text"> </ion-input>
    </ion-col>
    
  
    
  </ion-content>