<ion-header>
    <ion-navbar>
      <ion-title>
        Opções de filtro
      </ion-title>
      <ion-buttons end>
          <button ion-button (click)="dismiss()"> Fechar </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


  <ion-content>
      <ion-col col-12>
        <ion-item>
          <ion-label color="primary" stacked> Filtrar por : </ion-label>
          <ion-select [(ngModel)]="filterObject.Key">
            <ion-option *ngFor="let property of filterProperties" [value]="property"> {{ property }} </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      
    <ion-col col-12>
      <ion-item>
        <ion-input type="text" [(ngModel)]="filterObject.Value"> </ion-input>
      </ion-item>
    </ion-col>

    
  </ion-content>